.InfoWoodLandContacts
{
	width: 1000px;
	height: 600px;
	background: rgba(54,57,63,0.9);
	border-radius:   25px ;
 	margin-left: auto;
    margin-right: auto;
	margin-top: 80px;
}

.InfoWoodLandContactsBar
{ 
	height: 50px;
 	width: 1000px;
 background: #DEB887;
	border-radius:25px;

}
.InfoWoodLandContactsText
{
	
	color: #8B4513;
	font-family: "Monotype Corsiva" Cursive; 
    font-size: 150%; 
	text-align: center;

}
.WoodLandTextContacts
{
	width: 400px;
	height: 600px;
	margin-left:  10px;
	color: #FCF8F8	;
}
div p
{
	 line-height: 0.9em;
}
